/* universal styles */
* {
  font-family: "Work Sans", sans-serif;
}
.item-description {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  line-height: 26px;
}
.section-title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.btn-primary {
  border-radius: 0.5rem;
  background: #ff900e;
  padding: 20px 25px;
  border: none;
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
}
.g3-primary-color {
  color: #ff900e;
}
/* navbar styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 0 15rem;
  padding-bottom: 2.8rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
  gap: 50px;
}
.navigation ul li {
  list-style: none;
  margin-right: 1.8rem;
  font-weight: 500;
  font-size: 1rem;
}

.navigation ul li a {
  text-decoration: none;
  color: #424242;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
/* header styles */

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}

/* main section styles */
main {
  max-width: 90rem;
  margin: 3rem auto;
}

.features-section {
  display: flex;
  align-items: center;
}
.teams-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.teams-content {
  padding-left: 4.375rem;
  padding-right: 4.375rem;
}

.teams-title {
  font-size: 2.8rem;
}

.teams-title-one {
  color: #727272;
  font-weight: 500;
}
.teams-title-two {
  color: #131313;
  font-weight: 700;
}

/* feature list section styles */
.feature-list-section {
  display: flex;
  margin-top: 8.1rem;
  gap: 6.25rem;
}
.feature-list-section .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 1.2rem;
}
.feature-card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1.2rem;
  margin-bottom: 1.2rem;
}

.feature-img img {
  height: 90%;
  margin-left: 90px;
}
.ten-years-badge {
  color: #fff;
  background: #ff900e;
  border-radius: 0.5rem;
  width: 21rem;
  padding: 2.5rem;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.ten-years-badge h2 {
  font-size: 4rem;
  margin: 0;
}
.ten-years-badge p {
  font-size: 1.5rem;
}

/* facts section style */

.facts-card-container .card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px;
}
.facts-card-container {
  display: flex;
  justify-content: space-around;
}
.facts-card-container .card-stats {
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 5px;
}
/* sponsored section styles */
.sponsors-section {
  text-align: center;
}
.sponsors-img-container {
  margin-top: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.5rem;
}
.sponsors-img-container img {
  width: 10rem;
  filter: grayscale(100%);
}
.sponsors-img-container img:hover {
  filter: grayscale(0);
}

/* responsive styles */

/* mobile devices */

@media screen and (max-width: 576px) {
  .g3-title {
    text-align: center;
    font-size: 2rem;
  }
  .banner-title {
    font-size: 3rem;
  }
  header {
    padding: 20px;
  }
  nav,
  .navigation ul {
    flex-direction: column;
    align-items: center;
  }
  .features-section {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .teams-img-container {
    grid-template-columns: 1fr;
  }
  .teams-content {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .facts-card-container {
    gap: 20px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    flex-direction: column;
  }
  .sponsors-img-container,
  .feature-list-section {
    flex-direction: column;
  }
  .feature-content {
    margin-bottom: -50px;
  }
  .feature-img img {
    width: 90%;
    margin: 0px 20px;
  }
  .ten-years-badge {
    max-width: 50%;
    margin: 20px auto;
  }
  .ten-years-badge h2 {
    font-size: 2rem;
  }
  .facts-section .section-title,
  .facts-section .item-description {
    text-align: center;
  }
  .facts-section {
    margin-top: -100px;
  }
}

/*tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav {
    flex-direction: column-reverse;
    align-items: center;
  }
  .features-section {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .teams-content {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .facts-card-container {
    gap: 20px;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsors-img-container,
  .feature-list-section {
    flex-direction: column;
  }
  .facts-section .section-title,
  .facts-section .item-description {
    text-align: center;
  }
}
